<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>
  <%= h(session[:user].name) %> Settings
</title>
<%= render(:partial => "shared/stylesheets") %>
<%= render(:partial => "shared/javascripts") %>
<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>
</head>

<body>

  <div id="wrap">
    <div id="main" class="clearfix">
    
      
      
      <% if render_menu -%>
        <div class="menudiv">
          <%= render_menu %>
        </div>
      
        <div class="normaldiv">
          <%= yield %>
        </div>
      <% else -%>
        <%= yield %>
      <% end -%>
    </div>
  </div>

 <%= render(:partial => "shared/footer") %>

</body>
</html>
