<%= 
  header_tag(:image => user_image(@user),
             :title => h(@user.name.upcase + " " + @user.surname.upcase),
             :top_buttons => [{:content => t("back")}],
             :bottom_buttons => [{:content => t("edit_user")},{:content => t("start")}]
            ) %>
