adaptor/log/development.log
application/log/production.log
adaptor/config/database.yml
adaptor/config/settings.yml
application/config/database.yml
application/config/settings.yml
application/public/Uploadedimage/image
application/public/User/user_image
application/public/User/wallpaper
application/config/email.yml
